@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin: auto
}


form {
  max-width: 30%;
  margin: auto;
}

.alert {
  border-color: red;
  border-width: 2px;
}
